.b{
    background-color: black;
    width:1520px;
    height:860px;
    margin:0;
    padding: 0;
}
body{
    margin:0;
    padding: 0;
}
h1{
    color:white;
    margin:0;
    padding: 0;
    padding-left: 500px;
    padding-top:200px;
    font-family:sans-serif;
}
.butto{
    background-color: red;
    color:white;
    width:400px;
    height:100px;
    font-size:20px;
    margin-left: 550px;
    margin-top: 200px;
}
.butto:hover{
    background-color: black;
    border:2px solid red;
    box-shadow:0 0 20px 20px red;
    transition: box-shadow 2s ease,border 2s ease,background-color 2s ease;
}